body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(209, 209, 209);
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  color: white;
  align-items: center;
  padding: 25px;
}
button {
  padding: 25px;
  background-color: rgb(212, 212, 212);
}

section {
  display: flex;
  float: right;
  align-items: center;
  width: 60%;
  height: 70vh;
  margin: 25px;
  font-size: 25px;
  line-height: 100px;
  background-color: rgb(255, 172, 157);
  justify-content: center;
}
ul li {
  list-style-type: none;
}
aside {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 30%;
  height: 20vh;
  margin: 25px;
  border-radius: 15px;
  background-color: rgb(255, 99, 99);
}

footer {
  background-color: rgb(255, 136, 136);
  clear: both;
  color: black;
  padding: 20px;
}
