* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body {
    background: brown;
  }*/
header {
  height: 15vh;
  text-align: center;
}

header button {
  font-size: 36px;
}
.violet {
  background: rgb(77, 21, 77);
}
